{% extends "base.html" %}

{% block content %}
<form action="{% url 'handle_quote' %}" method="post">
  <div class="row">
    <div class="col-sm-6">
      {% if quote_result is None %}
      <H2>Please enter your friend's details</H2>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      {% csrf_token %}
      {{ form }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      {% if quote_result is not None %}
      <input type="submit" value="Update">
      <button><a href="#">Save</a></button>
      <button><a href="#">Pay</a></button>
      <button><a href="/quote">New</a></button>
      {% else %}
      <input type="submit" value="Quote">
      {% endif %}
    </div>
  </div>

</form>
{% endblock %}
